.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px); 
}

.loading-container {
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;
}
